*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(images/train.jpeg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.logo{
  width: 50px;
  height: 60px;
}
.menu-icon{
  width: 60px;
  height: 60px;
  margin-left: 40px;
  cursor: pointer;
}

nav{
  flex: 1;
  text-align: right;
  margin-left: 40px;

}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a{
  text-decoration: underline;
  color: white;
  font-size: 25px;
}

li{
  font-weight: bold;
}

.row{
  display: flex;
  height: 88%;
  align-items: center;

}
.col{
  flex-basis: 50%;
}
h1{
  color: white;
  font-size: 90px;
  text-decoration: none;
  padding-bottom: 10px;
  text-decoration:underline;
  text-decoration-color: #96000f;
}

p{
  color: white;
  font-size: 21px;
  line-height: 23px;
}

button{
  width: 180px;
  color: white;
  font-size: 23px;
  padding: 12px 0;
  background: #96000f;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;

}
.card{
  width: 260px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.card1{
  background-image: url(images/prob.jpeg);
}
.card2{
  background-image: url(images/rec.png)
}

.card3{
  background-image: url(images/plan.jpeg)
}

.card:hover{
  transform: translateY(-10px);

}
